.contenedor-testimonio {
  max-wigth: 100%;
  width: 100%;
  height: auto;
  margin: 30px auto 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(68, 68, 69);
  box-shadow: 0px 3px 13px 1px rgb(0 0 0 / 9%);
}

.imagen-testimonio {
  height: auto;
  max-width: 100%;
}

@media (max-wigth: 768px) {           /*Media query*/
  .contenedor-testimonio {
    flex-direction: column;
  }

  .imagen-testimonio {
    margin-bottom: 20px;
  }
}

.contenedor-texto-testimonio {
  text-align: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

.nombre-testimonio {
  font-size: 1.3rem;
}

.cargo-testimonio { 
  font-size: 1.3rem;
  margin-top: 15px;
  padding-bottom: 30px;
}

.texto-testimonio {
  font-size: 1.1rem;
  text-align: center;
}